.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  gap: 20px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 400px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type='file'] {
  margin-bottom: 10px;
}

button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.pdf-viewer-container {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 80vh;
  overflow-y: auto;
  background-color: #e9e9e9;
}

.placeholder-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
  font-size: 1.2rem;
}

/* Styles for react-pdf */
.react-pdf__Page {
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}